In [1]:
from google.cloud import bigquery
client = bigquery.Client()
import time
import numpy as np

In [2]:
years = [2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]
for y in years:
    sql = """
    SELECT *
    FROM `bigquery-public-data.noaa_gsod.gsod{0}`
    """.format(y)

    t0=time.time()
    df = client.query(sql).to_dataframe()
    print(time.time()-t0)
    df.to_pickle('noaa_gsod.gsod' + str(y))
    print(time.time()-t0)

913.1110417842865
929.3440699577332
951.8781130313873
967.5014729499817
978.7142577171326
994.4620079994202
1033.981556892395
1052.4765028953552
1067.3635368347168
1085.5518248081207
1065.6902692317963
1083.3989219665527
1137.2720592021942
1155.6644563674927
1127.8437650203705
1147.1840980052948
1044.4941368103027
1066.735995054245
1189.7392420768738
1209.713021993637
1140.294755935669
1158.139895915985

In [75]:
# Check file length
years = [2008]
for y in years:
    sql = """
    SELECT
        count(*) as nrows
    FROM `bigquery-public-data.noaa_gsod.gsod{0}`
    """.format(y)

    t0=time.time()
    df = client.query(sql).to_dataframe()
print(df)

4.616093158721924
   nrows
0  29774